In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('./data/crimes.csv')

In [9]:
df.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    25000 non-null  int64
 1   case_number           25000 non-null  object
 2   date                  25000 non-null  object
 3   block                 25000 non-null  object
 4   iucr                  25000 non-null  object
 5   primary_type          25000 non-null  object
 6   description           25000 non-null  object
 7   location_description  24916 non-null  object
 8   arrest                25000 non-null  bool
 9   domestic              25000 non-null  bool
 10  beat                  25000 non-null  int64
 11  district              25000 non-null  int64
 12  ward                  24999 non-null  float64
 13  community_area        24999 non-null  float64
 14  fbi_code              25000 non-null  object
 15  x_coordinate          25000 non-null  int64
 16  y_coordinate          25000 non-null  int64
 17  year                  25000 non-null  int64
 18  updated_on            25000 non-null  object
 19  latitude              25000 non-null  float64
 20  longitude             25000 non-null  float64
 21  location              25000 non-null  object
dtypes: bool(2), float64(4), int64(6), object(10)
memory usage: 3.9+ MB